grant
{  
	permission java.security.AllPermission;
	permission java.net.SocketPermission "*:1024-65535", "connect,accept";
	permission java.net.SocketPermission "localhost:99", "connect";
	permission java.io.FilePermission "<<ALL FILES>>", "read, write, delete";
};
